<div id="topheadContainer"><div class="title fl"><%=t(:text_edit_campaign)%> Status Type</div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<% remote_form_for(:campaign_status_type,@campaign_status_type, :url => company_campaign_status_type_path(@company,@campaign_status_type),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :put}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f,
    :select_modal_text => "Status Type", :modal_text => "#{t(:label_status_name)}",
    :all_modal_values => @company.campaign_status_types.collect{|cs|[cs.lvalue]}.uniq ,:modelclass=>'campaign_status_types'} %>
<%end%>
<br class="clear"/>