<div class="gridDiv">
  <div class="titleHead"><%= current_company.name.try(:titleize) %><%=t(:text_s_sources)%></div>
  <div class="gryBox ">
    <div id="list">
      <%= render :partial =>"list" %>
    </div>
  </div>
</div>