<div id="topheadContainer"><div class="title fl"><%=t(:text_new)%> <%=t(:label_rating_type)%></div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<%remote_form_for(:rating_type,@rating_type, :url => company_rating_type_index_path(@company),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :post}) do |f|%>
  <%= render :partial=>"form", :locals => {:f => f} %>
<%end%>
<br class="clear"/>