<div id="topheadContainer"><div class="title fl"><%=t(:text_edit)%> <%= t(:text_activity_type) %></div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<% remote_form_for(:company_activity_type,@activity_type, :url => company_company_activity_type_path(@company,@activity_type),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :put}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f, :modelclass => "company_activity_types",
    :select_modal_text => "#{t(:text_activity_type)}", :modal_text => "#{t(:text_activity_type)}",
    :all_modal_values => @company.company_activity_types.collect{|dc|[dc.lvalue]}.uniq ,:modelclass =>'company_activity_types'} %>
<%end%>
<br class="clear"/>