config/database.yml
vendor/plugins/rails-dev-boost/*
config/newrelic.yml
log
db/sphinx
redis-2.2.12/*
rails_best_practice/*
rails_best_practices_output.html
config/development.sphinx.conf
config/initializers/middleware.rb
config/production.sphinx.conf
config/rails_best_practices.yml
vendor/plugins/newrelic_rpm
vendor/plugins/rack-bug
vendor/plugins/newrelic_rpm/**/*
assets
tmp
.bundle
*~
*.swp
*.bak
.project
.loadpath
nbproject
.idea/
.idea/*
.rvmrc
