<div class="p15p fl">
  <table width="20%" border="0" cellspacing="1" cellpadding="1">
    <tr>
      <td class="link_blue vtip" title="Export Contact"><strong><%=link_to("Contacts" ,export_contacts_utilities_path(:format => 'xls') ) %></strong></td>
    </tr>
  </table>
</div> 
