<div>
  <div class="tabular_listing border_gray">
    <table width="100%" cellpadding="1" cellspacing="1">
      <tr>
        This API ( Application Program Interface ) dynamically connects the portal to your Quickbooks Accounting system
        and transfers billing information from the portal to Quickbooks.
	Interface is also available to create Quickbooks Interchange data file for Billing.
        Please contact your Livian to setup this function for you.
      </tr>
    </table>
  </div>
</div>

