<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>LIVIA Portal Version2 - Matters</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../stylesheets/base.css" />
    <link rel="stylesheet" type="text/css" href="../../stylesheets/jquery-jvert-tabs-1.1.3.css" />
    <script type="text/javascript" src="../../javascript/jquery-1.4.2.min.js" ></script>
    <script type="text/javascript" src="../../javascript/jquery-jvert-tabs-1.1.3.js"></script>
    <script type="text/javascript" src="../../javascript/jquery.tabs.pack.js"></script>
    <script type="text/javascript" src="../../javascript/resolution.js"></script>
    <script type="text/javascript" src="../../javascript/jquery.accordion.js"></script>
    <script type="text/javascript" src="../../javascript/jquery.thickbox.js"></script>
    <script type="text/javascript" src="../../javascript/scripts.js"></script>
    <script type="text/javascript">
      jQuery(function() {
        jQuery('#container-1').tabs(1);
      });
    </script>
  </head>
  <body>
    <div id="doc">      
      <table width="100%">
        <tbody>
          <tr>
            <td>              
              <div id="header-div">
                <h1><a href="../dashboard.html"><img src="../../images/logo.gif" alt="LOGO" /></a></h1>
                <div class="header_nav">
                  <table align="right">
                    <tr>
                      <td><div class="link_blue">
                          <a href="#"><strong>Chat</strong></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#"><strong>LIVIAN</strong> Access</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#"><strong>LIVIAN</strong> - Instructions</a></div></td>
                      <td rowspan="2"><div class="welcomeUser">
                          <span class="icon_user fl"></span>&nbsp;
                          <a href="#" class="active">John Matthew</a><br />
                          <span class="text10 ml15"><a href="#">Settings</a>&nbsp;|&nbsp;<a href="#">Logout</a></span>
                        </div></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                    </tr>
                  </table>
                  <br class="clear" /><div class="textR mt8 header_link">
                    <table align="right" cellpadding="2" cellspacing="2">
                      <tr>
                        <td ><a href="../dashboard.html"><span class="icon_home fl"></span></a></td>
                        <td valign="top"><a href="../dashboard.html" class="mr10 ml3">Home</a></td>
                        <td><a href="#"><span class="icon_mail fl"></span></a></td>
                        <td valign="top"><a href="#" class="mr10 ml3">Mail</a></td>
                        <td><a href="#"><span class="icon_workspace fl"></span></a></td>
                        <td valign="top"><a href="#" class="mr10 ml3">Workspace</a></td>
                        <td><a href="#"><span class="icon_Knowledgebase fl"></span></a></td>
                        <td valign="top"><a href="#" class="mr10 ml3">Knowledgebase</a></td>
                        <td><a href="#"><span class="icon_placeholder fl"></span></a></td>
                        <td valign="top"><a href="#" class="ml3">Note</a></td>
                      </tr>
                    </table>
                  </div>
                </div>
                <br class="clear" />
              </div>
              <div id="navigation-div">
                <ul class="navigation_list"><li><a href="#">Contacts</a></li><li><a href="../Accounts/index.html">Accounts</a></li><li><a href="../Campaigns/index.html"><%= t(:text_campaigns) %></a></li><li><a href="../Opportunities/index.html">Opportunities</a></li><li class="active"><a>Matters</a></li><li><a href="#">Time & Expense</a></li><li><a href="#">Communication</a></li></ul>
                <br class="clear" />
              </div>
              <div id="middleBody-div" >
                <div class="main_containt mt10" >
                  <div class="column_main"  >
                    <h2 class="title_main">Utility
                      <br class="clear" />
                    </h2>
                  </div>
                </div>
              </div>              
            </td>
          </tr>
        </tbody>
      </table>
    </div >
  </body>
</html>