<table height="100%" align="center" width="100%">
  <tbody>
    <tr>
      <td>
        <div>
          <%form_remote_for @user,:url=>access_codes_path,:html => { :method => 'post'},:before=>"jQuery('#error_upper_div').hide();loader.appendTo('#loader_spinner');jQuery('#loader_spinner').show();" do |f|%>
            <div style="text-align:center;margin-top:10px;" id="pass_Err">
              <div class="message_error_div" style="display:none;top:16%;" id="error_upper_div">
                <div class="errorExplanation" id="password_errors"  ></div>
              </div>
              <div id="loader_spinner"></div>
              <table width="55%" border="0" cellpadding="1" cellspacing="10" align="center" class="form_table" style="xborder:1px solid red; margin:0 auto;">
                <tr><td><label><%=t(:label_e_mail)%></label></td><td><%=f.text_field :email,:readonly=>true%></td></tr>
                <tr><td colspan="2" align="center">&nbsp;</td></tr>
                <tr>
                  <td></td>
                  <td align="center">
                    <%= submit_tag "Reset TPIN", {:class=>"button"} %>
                  </td>
                </tr>
              </table>
            </div>
          <% end -%>
          <br class="clear" />
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div align="right" class="pagiText"><%=t(:label_page)%>&nbsp;116</div>
