<div class="gridDiv" id="update_fav_id">
  <div class="titleHead">
    <div class="fl"><%=t(:text_favorites)%></div>
    <div class="fr ptr5"><a href="#"><img src="/images/livia_portal/icon_close.gif" alt="close" title="close" onclick="closeFaceBox();" /></a></div>
    <br class="clear"/>
  </div>
  <br class="clear"/>
  <div class="windowForm">
    <table cellspacing="0" border="0" align="center" width="100%">
      <tr>
        <td width="75%"><%=t(:text_dashboard_name_successfully_updated)%></td>
      </tr>
    </table>
    <div class="txtC Pb8">
      <input type="button" value="<%=t(:label_close)%>" class="button" onclick="jQuery.facebox.close()" />
      <br class="clear"/>
    </div>
    <br class="clear"/>
  </div>
</div>