<div id="topheadContainer"><div class="title fl"><%=t(:text_edit_matter_status)%></div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<%  remote_form_for(:matter_status,@matter_status, :url => company_matter_status_path(@company,@matter_status),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :put}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f,
    :select_modal_text => "#{t(:label_status)}", :modal_text => "#{t(:label_status)}",
    :all_modal_values => @company.matter_statuses.collect{|ms|[ms.lvalue]}.uniq ,:modelclass=>'matter_statuses'} %>
<%end%>
<br class="clear"/>