<div id="topheadContainer"><div class="title fl">Edit Matter Privilege</div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<% remote_form_for(:matter_privilege,@matter_privilege, :url => company_matter_privilege_path(@company,@matter_privilege),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :put}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f,
    :select_modal_text => "Privileges", :modal_text => "Privilege Name",
    :all_modal_values => @company.matter_privileges.collect{|cs|[cs.lvalue]}.uniq ,:modelclass=>'matter_privileges' } %>
<%end%>
<br class="clear"/>