<div class="gridDiv">
  <div class="titleHead"><%= @company.name.try(:titleize) %>'s Matter Privileges</div>
  <div class="gryBox ">
    <div id="list">
      <%= render :partial =>"list" %>
    </div>
  </div>
</div>