<div id="topheadContainer"><div class="title fl"><%=t(:text_new)%> <%=t(:text_other_role)%></div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<%remote_form_for(:client_role,@other_role, :url => company_other_roles_path(@company),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :post}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f, :modelclass => "other_roles",
    :select_modal_text => "#{t(:label_other_role)}", :modal_text => "#{t(:label_other_role)}",
    :all_modal_values => @company.other_roles.collect{|cs|[cs.lvalue]}.uniq } %>
<%end%>
<br class="clear"/>