
a {
    text-decoration: none;
    color: #555;
    color: #336699;
}
a:visited {
    color: #336699;
}
a:hover {
    color: #336699;
    text-decoration: none;
}
a:active {
    color: #336699;
}


/* LOGIN INFO
----------------------------------------------------------*/

span#links {
    /* text-shadow: 1px 1px 1px #fff; */
    font-size: .9em;
    color: #777;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
span#links a:hover {
    color: #333;
}
/* MESSAGES MODAL BOX
----------------------------------------------------------*/

/*div#messages-box-container {
	position: relative;
	 top: 33px;
	top:10px;

}*/
div#messages-box {
    background-color: #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: none;
    width: 180px;
    margin-top: 20px;
    padding-top: 20px;
    -moz-box-shadow: 0px 4px 4px #888; /* FF3.5+ */;
    -webkit-box-shadow: 0px 4px 4px #888; /* Saf3.0+, Chrome */;
    box-shadow: 0px 4px 4px #888; /* Opera 10.5, IE 9.0 */; /* FF3.6 */;
    background-color: #f5f5f5;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#f5f5f5')";
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#FFFFFF), to(#F5F5F5));
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
    position: absolute;
    z-index: 99999;
    top:-20px;
    left:-107px;
    float: right;
    overflow:auto;
    max-height: 300px;
}
ul#messages {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.2em;
    font-size: .8em;

    /* text-shadow: 1px 1px 0px #fff; */
}
ul#messages a#all-messages {
    text-align: center;
    display: block;
    padding: 1px 0;
    font-size: 1em;
}
ul#messages span#unreaded {
    display: block;
    color: #999;
    font-weight: normal;
}
div#new-message-dialog {
    font-size: .8em;
}

ul#messages li#last {
    background-color: #EFF3F8;
    font-weight: bold;
    font-size: .9em;
}
ul#messages li#last:hover {
    background-color: #eee;
}
ul#messages li {
    -moz-transition: all 0.3s ease-out; /* FF3.7+ */;
    -o-transition: all 0.3s ease-out; /* Opera 10.5 */;
    -webkit-transition: all 0.3s ease-out; /* Saf3.2+, Chrome */;
    padding: 5px 6px;
    border-top: 1px #ddd solid;
}
ul#messages li.new {
    background-color: #b1cfd9;
}
ul#messages li:hover {
    background-color: #eee;
}
ul#messages img {
    float: left;
    margin-right: 10px;
    padding-top: 6px;
}
ul#messages span {
    display: block;
}
ul#messages span.sender {
    font-size: 1.2em;
    font-weight: bold;
    padding:0px 0px 2px 0px;
}
ul#messages span.description {
    font-size: 1.1em;
    color: #555;
    font-weight: normal;
}
ul#messages span.date {
    font-size: 1em;
    color: #aaa;
    font-weight: normal;
}

.closable {
    position: relative;
}
.closable .closelink {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 16px;
    height: 16px;
    background:  no-repeat 0 0;
    margin-top: -4px;
    cursor: pointer;
    opacity: 0.3;
}
.closelink:hover {
    opacity: 1;
}

/* Container */
#simplemodal-container {
    height:300px;
    width: 600px;
    color: #bbb;
    border: 4px solid #444;
    padding: 12px;
    background-color: #EEE;
    color: #333;
    border: 1px solid white;
    padding: 12px 0;
    -moz-border-radius: 8px; /* FF1+ */;
    -webkit-border-radius: 8px; /* Saf3-4 */;
    border-radius: 8px; /* Opera 10.5, IE 9, Saf5, Chrome */;
    -moz-box-shadow: 0px 0px 24px #888; /* FF3.5+ */;
    -webkit-box-shadow: 0px 0px 24px #888; /* Saf3.0+, Chrome */;
    box-shadow: 0px 0px 24px #888; /* Opera 10.5, IE 9.0 */
}
div.CloseImg { width: 100%; background: #fff; height: 15px; padding:2px; }
a.CloseImg {
    display: inline;
    z-index: 3200;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 10px;
    width: 12px;
    height: 12px;
    background: url(/stylesheets/images/close.png) no-repeat -5px;
    cursor: pointer;
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.spch-bub-inside,
.spch-bub-outside {
    position: relative;
    top:-3px;
}
a.spch-bub-inside,
a.spch-bub-outside {
    color: #00F;
    text-decoration: none;
}
.spch-bub-inside em,
.spch-bub-outside em {
    font-style: normal;
    vertical-align: top;
}
.spch-bub-inside em {
    background: #00F;
    color: #FFF;
    padding: 0 0.4em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    position: relative;

}
.spch-bub-inside .point,
.spch-bub-outside .point {
    width: 0;
    height: 0;
    position: absolute;
    top: 13px;
    left: 0.4em;
    display: block;
    border-left: 0.45em solid #00F;
    border-bottom: 0.45em solid #FFF; /* IE fix */
    border-bottom: 0.45em solid rgba(0,0,0,0);
    overflow: hidden; /* IE fix */
}
.spch-bub-outside {
    padding-left: 2.0em;
}
.spch-bub-outside .bubble {
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    height: 1.1em;
    width: 1.8em;
    background: #00F;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
}
a.spch-bub-inside:hover,
a.spch-bub-outside:hover {
    color: #F00;
    text-decoration:none !important;
}
a.spch-bub-inside:hover em,
a.spch-bub-outside:hover .bubble  {
    cursor: pointer;
    background: #F00;
    color: #FF0;
}
a.spch-bub-inside:hover .point,
a.spch-bub-outside:hover .point {
    border-left: 0.5em solid #F00;

}
div.spch-bub-outside {
    height: 1.5em;
    width: 0;
}
