<div class="abouWrapper">
  <div class="mt8"><img src="/images/livia_logo_small.png"/></div>
  <div class="mt10">
    <p class="link_blue"><strong>Version <%=  LIVIA_PORTAL_VERSION %></strong></p>
    <p>This site is best viewed with Internet Explorer 8.0; Firefox 3.0 or higher; Chrome 7.0 or higher, Safari 5.0.3 and at a minimum screen resolution of 1280 * 1024.</p>
    <p align="right"><strong>Powered by - Livia</strong></p>
  </div>
  <div align="right" class="pagiText"><%=t(:label_page)%>&nbsp;127</div>
</div>