<div style="padding:10px;">
<span style="float:right;">
    <a href="#"><img onclick="closeFaceBox();" title="close" alt="close" src="/images/livia_portal/icon_close.gif"/></a>
</span>
   <br/>
<% render_chart_html '/FusionCharts/FCF_StackedColumn3D.swf', '',params[:str_xml] , 'matter_tasks',500,500, false  do-%>
<% end-%>
</div>