<div id="topheadContainer"><div class="title fl"><%=t(:text_edit)%> <%=t(:label_phase)%></div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<%  remote_form_for(:phase,@phase, :url => company_phase_path(@company,@phase),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :put}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f,
    :select_modal_text => "#{t(:label_phase)}", :modal_text => "#{t(:label_phase)}",
    :all_modal_values => @company.phases.collect{|ph|[ph.lvalue]}.uniq ,:modelclass=>'phases'} %>
<%end%>
<br class="clear"/>