<div id="topheadContainer"><div class="title fl">New Appointment Type</div></div>
<%remote_form_for(:appointment_type,@appointment_types, :url => company_appointment_types_path(@company),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :post}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f, :modelclass => "appointment_types",
    :select_modal_text => "Appointment Type", :modal_text => "Appointment Type",
    :all_modal_values => @company.appointment_types.collect{|appt|[appt.lvalue]}.uniq} %>
<%end%>
<br class="clear"/>
