<div id="topheadContainer"><div class="title fl"><%=t(:text_edit)%> <%= t(:text_non_litigation) %></div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<% remote_form_for(:nonliti_type,@nonliti_type, :url => company_nonliti_type_path(@company,@nonliti_type),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :put}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f,
    :select_modal_text => "Non-Litigation", :modal_text => "#{t(:label_non_litigation_name)}",
    :all_modal_values => @company.nonliti_types.collect{|lt|[lt.lvalue]}.uniq ,:modelclass=>'nonliti_types' } %>
<%end%>
<br class="clear"/>