<div id="topheadContainer"><div class="title fl">Edit Prospect Status Type</div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<% remote_form_for(:prospect_status_type,@prospect_status, :url => company_prospect_status_type_path(@company,@prospect_status),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :put}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f,
    :select_modal_text => "Status", :modal_text => "#{t(:label_status_name)}",
    :all_modal_values => @company.prospect_status_types.collect{|cs|[cs.lvalue]}.uniq ,:modelclass=>'prospect_status_types'} %>
<%end%>
<br class="clear"/>