<!--Left middle Container starts here -->
<div class="middleCol">   
  <!--Communications div start here -->
  <div class="contentBox">
    <%= render :partial=>'lawyers_details'%>
    <%= render :partial=>'notes_details'%>
    <%= render :partial=>'tasks_details'%>    
    <br class="clear" />
  </div>
</div>
<!--Left middle Container ends  here -->
