<div class="box-head"><h2 class="left"><%=t(:text_company)%></h2></div>
<div class="actionLinks"><%=link_to(t(:text_add_new_company), new_company_path)%></div>
<%= render :partial=>"company_users_licences_details" %>