<div id="topheadContainer"><div class="title fl">Edit Salutation Type</div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<%  remote_form_for(:salutation_type,@salutation, :url => company_salutation_type_path(@company,@salutation),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :put}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f,
    :select_modal_text => "Salutation", :modal_text => "Salutation",
    :all_modal_values => @company.salutation_types.collect{|cs|[cs.lvalue]}.uniq ,:modelclass=>'salutation_types'} %>
<%end%>
<br class="clear"/>