<div class="gridDiv">
  <div class="titleHead"><%= @company.name.try(:titleize) %>'s Salutation Types</div>
  <div class="gryBox ">
    <div id="list">
      <% render "list" %>
    </div>
  </div>
</div>