<li><%=link_to(t(:text_opportunity_pipeline),{:controller => :rpt_opportunities , :action => :opportunity_pipe}, :class => "#{@opp_pipe}" )%></li>
<li><%=link_to(t(:text_opportunity_source),{:controller => :rpt_opportunities , :action => :opportunity_source }, :class => "#{@opp_source}")%></li>
<li><%=link_to(t(:text_open_opportunity),{:controller => :rpt_opportunities , :action => :opportunity_open}, :class => "#{@opp_open}")%></li>