<div id="topheadContainer"><div class="title fl"><%=t(:text_edit_document_source)%></div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<%  remote_form_for(:doc_source,@doc_source, :url => company_doc_source_path(@company,@doc_source),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :put}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f,
    :select_modal_text => "Document #{t(:label_source)}", :modal_text => "#{t(:label_source)}",
    :all_modal_values => @company.doc_sources.collect{|dc|[dc.lvalue]}.uniq ,:modelclass=>'doc_sources'} %>
<%end%>
<br class="clear"/>