<%  render_chart '/FusionCharts/'"#{params[:type_of_chart]}", '', params[:str_xml], 'all_billing_hours',500,500, false, true  do-%>
<% end-%>
<div id="chart"></div>
<div align="right" class="pagiText"><%=t(:label_page)%>&nbsp;163</div>

