<select name="task[assigned_to_user_id]" id="task_assigned_to" class="txtbox">
  <option value=""><%=t(:text_select)%></option>
  <%@eligible_secretaries.each do|s|%>
    <option value="<%=s.id%>"><%=s.sp_full_name%></option>
  <%end%>
</select>