<div class="box">
  <div class="box-head"><h2 class="title_main"><%= t(:text_financial_account) %></h2></div>
  <div class="p5">
    <div class="box_gray"></div>
    <br class="clear" />
  <% form_for :financial_account, @financial_account, :url => financial_account_path(@financial_account), :html => {:method => :put} do |f| %>
    <%= render :partial => "form", :locals => {:f => f} %>
  <% end %>
 <br class="clear" />
  </div>
</div>
