<% expense_entries = (saved_entry.expense_entries.size > 0) ? array_or_string_for_javascript(saved_entry.expense_entries.collect{|i| i.id}) : "0"  %>
<span id="contact_span_<%=saved_entry.id%>" class="editLiviaTextBox">
  <%=#select_tag "#{saved_entry.id}[contact_id]", "<option value=''/>" + options_for_select(@contacts.collect{|contact|[contact.full_name, contact.id]},contact_id),{:class => "dropbox w100p",:onchange=>"get_all_matters(this.id,#{saved_entry.id}, #{expense_entries});",:id=>"#{saved_entry.id}_contact_id"}%>
  <%=select_tag "#{saved_entry.id}[contact_id]", "<option value=''/>" + options_for_select(@contacts.collect{|contact|[contact.full_name, contact.id]},contact_id),{:class => "dropbox w100p",:id=>"#{saved_entry.id}_contact_id"}%>
</span>