<%unless @matching_campaigns.empty?%>
  <%@matching_campaigns.each do|result_obj|%>
    <%=raw ("" + "<span style=display:none>" + result_obj.id.to_s + "</span>" + ( "#{result_obj.name}"))  %>
  <%end%>
<%end%>