<div id="topheadContainer"><div class="title fl"><%=t(:text_edit_team_role)%></div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<% remote_form_for(:team_role,@team_role, :url => company_team_role_path(@company,@team_role),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :put}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f,
    :select_modal_text => "#{t(:label_team_role)}", :modal_text => "#{t(:label_team_role)}",
    :all_modal_values => @company.team_roles.collect{|tr|[tr.lvalue]}.uniq ,:modelclass=>'team_roles'} %>
<%end%>
<br class="clear"/>