<%= render :partial => "advanced_search" %>
<div id ="browser" class="column_main">  
    <div class=" w100">
      <h2 class="title_main"> </h2>
      <div class="p5">
        <div class="tabular_listing">
          <%= render :partial => 'documents_list' %>
          <%= render :file =>'common/document_extension'%>
        </div>
      </div>
    </div>  
  <br class="clear"  />
</div>