<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= stylesheet_link_tag "report",:media=>"print"  %>
  </head>
  <body>
    <div class="header">
      <%=  render :partial=>'rpt_partials/report_info' %>
    </div>
    <%= render :partial=>'rpt_accounts/recent_account_rpt' %>
  </body>
</html>