 <div class="mandatory mt12 mb8">
 &nbsp;<div class="icon_ppt" style="display:inline;padding-right:16px;padding-bottom:5px;"></div>:- &nbsp;ppt, &nbsp;
       <div class="icon_doc" style="display: inline; padding-right: 16px;padding-bottom:5px;"></div>:- &nbsp;doc &nbsp;
       <div class="icon_pdf" style="display: inline; padding-right: 15px;padding-bottom:1px;"></div>:- &nbsp;pdf &nbsp;
       <div class="icon_xls" style="display: inline; padding-right: 15px;padding-bottom:0px;"></div>:- &nbsp;xls &nbsp;
       <div class="icon_image_file" style="display: inline; padding-right: 16px;padding-bottom:5px;"></div>:- &nbsp;png, jpeg, gif
</div>
