<div class="gridDiv">
  <div class="titleHead"><%=t(:text_livian_assignment_unassignment)%></div>
  <div class="gryBox">
    <div width="100%">
      <div class="textNormal" style="padding-left:400px;">
        <%=t(:text_select_livian)%>&nbsp;&nbsp;<%= collection_select(:service_provider, :id, ServiceProvider.all, :id, :sp_full_name, {:include_blank => 'Please select'},{:onchange=>"show_company_list(this.value)",:class=>'dropbox',:style=>"width:120px; font-size:100%"})%>
      </div>
    </div>
    <div width="100%">
      <div id="show_company_list"></div>
    </div>
    <br class="clear" />
  </div>
</div>