<div id="loader1" style="display:none;"><img src='/images/loading.gif' /></div>
<div id="nameerror" class="errorCont" style="display:none"></div>
<div id="lawyermodule" style="margin-top:10px;">
  <%=render :partial => "lawyermodule"%>
</div>
<div align="right" class="pagiText"><%=t(:label_page)%>&nbsp;2</div>