<div class="gridDiv">
  <div class="mt5">
    <div class="gridDiv">
      <div style="text-align: center"></div>
    </div>
    <br class="clear" />
    <div class="titleHead" id="dashboard_toggle">
      <div class="fl"><%=t(:text_managers_list_for_livians)%></div>
      <div class="fr"></div>
      <br class="clear" />
    </div>
    <div>
      <div class="gryBox">
        <div id="empdiv">
          <%=render :partial => 'list_of_employees'%>
        </div>
      </div>
    </div>
  </div>
</div>