<div id="topheadContainer"><div class="title fl"><%=t(:text_new)%> <%=t(:label_lead_status_type)%></div></div>
<div id="nameerror"  class="errorCont" style="display:none"></div>
<%remote_form_for(:lead_status_type,@lead_status, :url => company_lead_status_types_path(@company),:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();",:html => { :method => :post}) do |f|%>
  <%= render :partial=>"company/form", :locals => {:f => f,
    :select_modal_text => "Status", :modal_text => "#{t(:label_status_name)}",
    :all_modal_values => @company.lead_status_types.collect{|cs|[cs.lvalue]}.uniq ,:modelclass=>'lead_status_types'} %>
<%end%>
<br class="clear"/>