<%# cache('footer') do %>
<div id="footer">
  <div class="shell"> <span class="left"> This site is best viewed with Internet Explorer 8.0; Firefox 3.0 or higher;  Chrome 7.0 or higher, Safari 5.0.3 and <br />
      at a minimum screen resolution of 1280  * 1024.</span> <span class="right">Powered by-LIVIA | <%=link_to("About", physical_liviaservices_about_path(:height=>180, :width=>400), :class=> "thickbox")%>
      <% if current_user  %>
        | <a href="/LIVIA Portal FAQ.pdf" target="_blank" class="vtip" title="FAQ"> FAQ </a>
      <%end%></span> </div>
</div>
<%=render :partial=>"sessions/logout_timer"%>
<script type="text/javascript" language="javascript">
  function send_email_id(){
    var user=jQuery('#user_username').val();
    window.location = "/support?username=" + user + "height=150&width=200";

  }
</script>
