<!-- Footer -->
<div id="footer">
  <div class="container_12">
    <div class="grid_12">
      <%#=t(:text_2008_yourcompany_com_all_rights_reserved)%>
      <!--&copy; <%#= current_user.company.name %> All Rights Reserved.-->
      Powered by-LIVIA
    </div>
  </div>
  <div style="clear:both;"></div>
</div>
<!-- End #footer -->
